body {
    background: #FCFDFF;
}

.navbar-light {
    background-color: rgba(63, 100, 115, 0.6);
    
}

.navbar-nav {
    text-align: center;
}

.navbar-dark {
    background-color: #5D696E;
}
.active {
    font-weight: bolder;
}

.navbar-toggler-icon {
    border-color: #DCE4F2 !important;
    
}

a, .fab {
    color: #DCE4F2 !important;
}

a:hover, .fab:hover {
    color: #CFDCF1 !important;
}

a:focus, .fab:focus {
    color: #D8E0ED !important;
}

a:visited, .fab:visited {
    color: #DCE4F2 !important;
}

