* {
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
}

body {
    background: #fcfdff;
}

.navbar-light {
    background-color: rgba(63, 100, 115, 0.6);
}

.navbar-nav {
    text-align: center;
}

.navbar-dark {
    background-color: #5d696e;
}

.active {
    font-weight: bolder;
}

.navbar-toggler-icon {
    border-color: #dce4f2 !important;
}

a, 
.fab {
    color: #dce4f2 !important;
}

a:hover, 
.fab:hover {
    color: #cfdcf1 !important;
}

a:focus, 
.fab:focus {
    color: #d8e0ed !important;
}

a:visited, 
.fab:visited {
    color: #dce4f2 !important;
}

.profile-pic {
    border-radius: 100%;
}

.fa-2x {
    color: #5d696e !important;
}

.fun-fact {
    font-style: italic;
}

.contact {
    border-radius: 1%;
    background-color: #dce4f2;
}
