body {
    background: #FCFDFF;
}

.navbar-light {
    background-color: #3F6473;
    
}

.active {
    font-weight: bolder;
}

.navbar-toggler-icon {
    border-color: #DCE4F2 !important;
    
}

a, .fab {
    color: #DCE4F2 !important;
}

a:hover, .fab:hover {
    color: #CFDCF1 !important;
}

a:focus, .fab:focus {
    color: #D8E0ED !important;
}

a:visited, .fab:visited {
    color: #C1C8D4 !important;
}

